langchain-core==0.3.76
langchain-community==0.3.30
langchain-chroma==0.2.6
chromadb==1.0.20
pypdf==4.2.0

python-dotenv==1.0.1
fastapi==0.110.0
uvicorn==0.29.0

#Huggingface embeddings model
#sentence-transformers==2.7.0
#langchain-huggingface==0.1.0

# For OpenAI embeddings model
langchain-openai==0.3.33
openai==1.105.0

#LLM model - Ollama
#langchain-ollama==0.2.0